$theme-primary: #222831;
$theme-primary-darken: darken($theme-primary, 5%);
$theme-secondary: #2d4059;
$theme-accent-1: #ff5722;
$theme-accent-1-lighter: lighten($theme-accent-1, 10%);
$theme-accent-1-darker: darken($theme-accent-1, 5%);
$theme-accent-2: #eeeeee;
$font-white: #FFF;
