@import '../../themes/colors.scss';
.templates-pane{
  width: 100%;
  height: 25vh;
  background: $theme-primary-darken;
  padding: 8px 0 8px 0;
}
.templates{
  width: 90%;
  height: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
}